# 1. Ignore everything
*

# 2. Allow your service folders (The "Assets" will be included automatically)
!frontend/
!CrystalFinance.Api/
!CrystalFinanceLibrary/
!mysql_folder/

# 3. Allow global build files
!docker-compose.yml
!requirements.txt
!.env

# 4. Re-ignore the "junk" inside those folders
**/__pycache__/
**/*.db
**/*.sqlite
**/bin/
**/obj/
**/venv/
**/.vscode/
