@* Add @attributes="UserAttributes" to the outermost div *@
<div class="container" @attributes="UserAttributes">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Home">
                <i class="bi bi-wallet2" style="font-size: 1.5rem;"></i>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">
                &copy; @_currentYear Finance App, Inc
            </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x fs-4"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
        </ul>
        
    </footer>
</div>

@code {
    private int _currentYear = DateTime.Now.Year;

    // This prevents the "property matching the name class" crash
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UserAttributes { get; set; } = new();
}
