@using Microsoft.AspNetCore.Components.Authorization

<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary border-end h-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <i class="bi bi-bootstrap-fill me-2 fs-4"></i>
        <span class="fs-4">My Finance App</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i>
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="import" class="nav-link">
                <i class="bi bi-cloud-arrow-up me-2"></i>
                Import Data
            </NavLink>
        </li>
        <li>
            <NavLink href="transactions" class="nav-link">
                <i class="bi bi-table me-2"></i>
                Transactions
            </NavLink>
        </li>
        <li>
            <NavLink href="about" class="nav-link">
                <i class="bi bi-info-circle me-2"></i>
                About
            </NavLink>
        </li>
    </ul>
    <hr>
    
    <AuthorizeView>
        <Authorized>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    
                    <strong>@context.User.Identity?.Name</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="settings">Settings</a></li>
                    <li><a class="dropdown-item" href="profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" @onclick="BeginLogout">Sign out</button></li>
                </ul>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="p-2">
                <small class="text-muted">Please sign in to access settings.</small>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private void BeginLogout()
    {
        Navigation.NavigateTo("authentication/logout");
    }
}
