@page "/"
@layout CustomMainLayout

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin"> 
    <Authorized>
        <h1>Hello, world!</h1>

        <p>Welcome to your new app.</p>
    </Authorized>
</AuthorizeView>


